body {
    font-size       : 11pt;
    background-color: white;
    color           : rgb(64, 64, 64);
    font-family     : georgia, Garamond, serif;
    padding         : 0pt;
    margin-bottom   : 10%;
    margin-right    : 20%;
    margin-left     : 20%;
}

h2 {
    color           : rgb(164, 164, 0);
    font-size       : 11pt;
    background-color: rgb(240, 240, 240);
    text-decoration : underline;
    text-align      : left;
    font-weight     : bold;
    font-family     : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#textCenter {
    text-align: center;
    font-size : 22pt;
}

#abbr {
    text-decoration: underline;

}
#upward{
   padding-bottom: 30px;
   margin: 0pt;
}
.userCmt{
    font-style: italic;
    background-color: #f9f982e9;
}
#beforeName::before{
    content: "-";
}
#boldCase{
   font-weight: bold;
}
.link a{
    color: rgb(169, 169, 18);
}
.fotter{
    float: left;
    text-align: right;
}

.validator{
    margin-top: 10em;
    margin-right: 20em;
}